<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Número</th>
            <th>Fecha de Ingreso</th>
        </tr>
    </thead>
    <tbody>
        {% for empleadoo in empleados %}
        <tr>
            <td>{{ empleadoo.idEmpleado }}</td>
            <td>{{ empleadoo.nombreEmpleado }}</td>
            <td>{{ empleadoo.numero }}</td>
            <td>{{ empleadoo.fechaIngreso }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
