<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Existencias</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.Id_Empleados}}</td>
            <td>{{ producto.Nombre_Empleados }}</td>
            <td>{{ numero }}</td>
            <td>{{ Fechaingreso }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
